.buttons-box {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px 5px;
}

.calculator {
  width: 600px;
  background-color: #d14e4e;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 10px 10px;
}

.resultbox {
  padding: 2px 2px;
  height: 25px;
  text-align: right;
  background-color: #084c61;
  display: block;
  align-content: right;
  color: white;
}

.buttons-box button {
  margin: 5px 5px;
}

.banner {
  display: block;
  background-color: #517e15;
  padding: 50px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  body {
    width: 100%;
  }
}
